<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/images/logo6.png" class="logo" style="border-radius: 10%;" alt="Logo" width="35" height="35" class="d-inline-block align-text-top">
    </a>
    <a class="navbar-brand" href="#">StayEase</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/listings">Lodge List</a>
        <a class="nav-link" href="/listings/new">Add New Lodge</a>
      </div>
    </div>
  </div>
</nav>